.__rhn__comment-indent
	box-shadow: inset -1px 0 #ccc

.__rhn__highlight-op
	color: #ff6000 !important

div.comment span.commtext
	pre
		background: #e4e4e4
		border-radius: 3px

	*:not(pre) code
		background: #e4e4e4
		border-radius: 3px
		padding: 0 4px
		display: inline-block
