.__rhn__profile-dropdown
	border: 1px solid #000
	margin-top: 4px
	position: absolute

	a, a:visited
		display: block
		text-align: left
		text-decoration: underline
		height: 20px
		padding: 0 5px
		color: #000
