.__rhn__blur {
	filter: blur(3px);
}

.__rhn__blur:hover {
	filter: blur(0);
}

.__rhn__dead-comment,
.__rhn__dead-comment * {
	color: #d89899 !important;
}

.__rhn__comment-indent {
	box-shadow: inset -1px 0 #ccc;
	cursor: pointer;
}

.__rhn__comment-indent:hover {
	box-shadow: inset -1px 0 #888;
}

.__rhn__new-comment-indent {
	box-shadow: inset -3px 0 #f6b391;
}

.__rhn__new-comment-indent:hover {
	box-shadow: inset -3px 0 #f7694c;
}

.__rhn__no-display {
	display: none;
}

.__rhn__highlight-op {
	color: #f7694c !important;
}

.__rhn__options-bar {
	padding-left: 10px;
	display: flex;
	font-size: 13px;
	color: #000;
	align-items: center;
}

.__rhn__options-bar-top {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}

.__rhn__options-bar-bottom {
	margin-top: 5px;
	padding-top: 10px;
	border-top: 1px solid #ddd;
}

.__rhn__options-bar label {
	font-size: 13px;
	color: #000;
}

.__rhn__options-bar input[type='number'] {
	margin-right: 5px;
	padding: 0;
	width: 5ch;
	-moz-appearance: none;
}

.__rhn__options-bar form {
	display: flex;
	margin-bottom: 0;
}

.__rhn__options-bar form img {
	align-self: center;
	margin-left: 4px;
}

.__rhn__select-disabled {
	pointer-events: none;
	cursor: not-allowed;
}

.__rhn__characters-over {
	color: #ea605d;
}

.__rhn__characters-under {
	color: #43a047;
}

.__rhn__profile-dropdown {
	border: 1px solid #000;
	margin-top: 4px;
	position: absolute;
}

.__rhn__profile-dropdown a,
.__rhn__profile-dropdown a:visited {
	display: block;
	text-align: left;
	text-decoration: underline;
	height: 20px;
	padding: 0 5px;
	color: #000;
}

.__rhn__hover-info {
	position: absolute;
	background: #f6f6ef;
	z-index: 2;
	border: 1px solid #000;
	padding: 3px;
	max-width: 500px;
	max-height: 400px;
	overflow-y: auto;
}

.__rhn__hover-info td {
	font-size: 10px !important;
	vertical-align: top;
}

.__rhn__hover-info td:nth-child(2) {
	word-break: break-word;
}

.__rhn__hover-info td a {
	color: #000 !important;
	text-decoration: none !important;
}

a.hnuser:hover ~ .__rhn__hover-info,
.__rhn__hover-info:hover {
	display: block;
}

.__rhn__injected-form {
	margin-top: 10px;
}

.__rhn__focussed-item {
	outline: 2px solid #f7694c73;
	box-sizing: unset;
	margin: -2px;
}

a.morelink.__rhn__focussed-item {
	margin: 0;
}

.__rhn__rank {
	cursor: pointer;
}

table.itemlist {
	border-collapse: collapse;
}

.__rhn__fetch-title a {
	margin: 0 10px;
	text-decoration: underline !important;
	color: #828282 !important;
}

.__rhn__extension-loader {
	position: fixed;
	top: 10px;
	left: 10px;
	border: 1px solid;
	padding: 2px;
	background: #f6f6ef;
}

.__rhn__extension-loader span {
	margin-left: 5px;
	font-family: monospace;
	font-size: 11px;
}

.__rhn__extension-loader img {
	vertical-align: middle;
}

.__rhn__discussions-row {
	border-top: 1px solid #ccc;
	padding: 10px 10px 0;
	font-size: 12px;
}

.__rhn__discussions-row ol,
.__rhn__discussions-row p {
	margin: 0;
}

.__rhn__discussions-row li {
	margin: 2px 0;
}

.__rhn__discussions-row li a {
	color: #000;
}

.__rhn__top-colors a {
	text-decoration: underline !important;
	color: #828282 !important;
	margin: 0 0 0 5px;
}
