body {
	margin: 0;
	border: 5px solid #ff6000;
	min-width: 430px;
	max-width: 450px;
	background: #f6f6ef;
}

form {
	margin: 0 auto;
	width: 95%;
}

textarea {
	display: block;
	width: 100%;
	font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	font-size: 11px;
	line-height: 1.5;
	resize: vertical;
	-moz-tab-size: 4 !important;
	tab-size: 4 !important;
	box-sizing: border-box;
	margin-top: 5px;
}

p {
	margin: 8px 0;
}

a {
	color: #000;
}

input[type='checkbox'] {
	vertical-align: -0.16em;
}

label,
footer {
	line-height: 1.5;
}

h2 {
	display: flex;
	align-items: center;
}

h2 img {
	height: 40px;
	width: auto;
	margin-right: 6px;
	border: 1px solid #ff6000;
	border-radius: 7px;
}

p.hr {
	border-top: 1px solid #ccc;
	padding-top: 10px;
}

footer {
	border-top: 1px solid #ccc;
	padding: 10px 0;
	color: #555;
	text-align: center;
}

code {
	font-weight: bold;
	letter-spacing: 0.7px;
	color: #333;
}

@-moz-document url-prefix('') {
	:root {
		background: none !important;
	}

	:root h2 {
		font-weight: normal;
	}

	input[type='checkbox'] {
		vertical-align: -41%;
	}
}
